.container {
    font-family: 'EB Garamond', serif;
    padding:0px;
}
body{
    margin: 0 auto;
}
.headline{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}
.byline{
    font-size:1.5em;
    font-weight:200;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    line-height:180%;
}
.chaptertitle{
    font-size:2em;
    font-weight: 600;
}
#text{
    margin-left: 70px;
    margin-right:70px;
}
.photo{
    width:75%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}
.caption{
    text-align: center;
    color:gray;
    font-style: italic;
}
#footer{
    background-color: black;
    color:white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 5px;
    width:100%;
}

.hero-image{
    width:100%;
}
.hero-container{
    position: relative;
    text-align: center;
    color:white;
}
.overlay{
    position: absolute;
    width:100%;
    background:#de4c3c;
    opacity: .7;
    top: 20%;
}
#big_text{
    font-size: 3em;
}
#smaller_text{
    font-size:2em;
}