.container {
    font-family: 'EB Garamond', serif;
    padding-top:10px;
}
body{
    margin: 0 auto;
}
.headline{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
}
.byline{
    font-size:1.5em;
    font-weight:200;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:#de4c3c;
}
p{
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    line-height:180%;
}
.chaptertitle{
    font-size:2em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.photo{
    width:75%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}
.caption{
    text-align: center;
    color:gray;
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}
#footer{
    background-color: black;
    color:white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 5px;
    width:100%;
}

.hero-image{
    width:100%;
}
.hero-container{
    position: relative;
    text-align: center;
    color:white;
}
.overlay{
    position: absolute;
    width:100%;
    background:#de4c3c;
    opacity:.7;
    top: 20%;
}
#big_text{
    font-size: 5em;
    position:relative;
}
#smaller_text{
    font-size:2em;
    padding-right:10px;
    padding-left:10px;
    position:relative;
}
#navtitle{
    color:white;
    font-family: 'EB Garamond', serif;
    margin: 0 auto;
    text-transform: uppercase;
}
#contributed{
    color:gray;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.pullquote{
    border-top: #de4c3c solid;
    border-bottom:#de4c3c solid;
    font-family:'EB Garamond', serif;
    color:gray;
    font-size: 30px;
    width:50%;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
#map{
    max-width: 70%;
    margin:0 auto;
}
#sidebar{
    border: #de4c3c solid;
    max-width: 70%;
    font-family: 'Lato', sans-serif;
    color:gray;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bar{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
#bartitle{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
/* media queries */ 
@media (max-width: 750px) {
#big_text{
    font-size:2em;
}
#smaller_text{
    font-size:1em;
}
.pullquote{
    width:70%;
}
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color: gray;
  }
  
  /* selected link */
  a:active {
    color: black;
  }