#content{ 
    margin: 0 auto;
    width: 900px;
   
}
.topper{
    height: 100px;
    width: 100%;
    background-color: #587a47;
    padding-bottom: 20px;
}
#toppertext{
    color:white;
    padding: 25px;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    text-align:center ;
}
.photo{
    
    width: 800px;
}
.p{
    font-size: 13px;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    color:black;
}

.caption{
    font-style: italic;
    color:grey;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-size: 11px;
    margin-top: 10px;
    max-width: 800px;
}
#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    }
#headline{
    font-family: "Helvetica", Arial, sans-serif;
}
blockquote{
    color:#587a47;
    font-family:"Georgia", 'Times New Roman', Times, serif;
    font-style: italic; 
    font-size: 20px;
    width: 50%;
    padding-left: 25%;
}