.pagetop{
    width:100%;
}
#headshot{
    width: 25em;
    margin:0 auto;
    padding-bottom: 2em;
}
#firstsec{
    padding-top: 2em;
    background-color: #6da65b;
}
#am.title{
    padding-left: 10em;
}
#intro{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    max-width: 40em;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#navbar{
    background-color: #789f6c;
}
#navname{
    font-family: 'Times New Roman', Times, serif;
    color: #6da65b;
}
.nav-item{
    font-family: 'Times New Roman', Times, serif;
}