.pagetop{
    width:100%;
}
#navbar{
    background-color: #789f6c;
}
#navname{
    font-family: 'Times New Roman', Times, serif;
    color: #6da65b;
    padding-left: 20px;
}
.nav-item{
    font-family: 'Times New Roman', Times, serif;
}
#headshot{
    width: 25em;
    margin:0 auto;
    padding-bottom: 2em;
}
#firstsec{
    padding-top: 2em;
    background-color: #6da65b;
}
#am.title{
    padding-left: 10em;
}
#intro{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    max-width: 40em;
}
#amtitle{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#Rtitle{
    font-family: 'Times New Roman', Times, serif;
    color: white;
} 
#resume{
    background-color: #6da65b;
    width:100%;
}
.jobsec{
    background-color: white;
    width:75%;
    margin:0 auto;
    padding:10px;
}
.jobtitle{
    color:#6da65b;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.jobdate{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.jobdescript{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}