 /* Footer Style */
 #footer{
    background-color:  #7fa66f;
    color:white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 5px;
    width:100%;
    font-family: 'EB Garamond', serif;
 }
 /* Pagetopper style */
 .pagetop{
    width:100%;
}
/* Navbar */ 
.navbar{
    font-family: 'EB Garamond', serif,'Times New Roman', Times, serif;
}
#navname{
    color: #6da65b;
}
/* About Me Section Style */
#amtitle{
    color:#6da65b;
}
#aboutme{
    margin-top:50px;
    padding-top: 10px;
    padding-bottom:10px;
    Padding-right:30px;
    Padding-left:10px;
    font-family: 'EB Garamond', serif;
}
#headshot{
    width: 20em;
    margin-bottom: 50px;
}
.pagetop{
    width:100%;
}
.container{ 
    padding-top: 60px;
 }
   /* Contact Section Style */
#WesMooreRally{
    padding-top: 35px;
    width: 20em;
    margin-left:13%;
    padding-bottom: 35px;
}
#ctitle{
    font-family: 'EB Garamond', serif;
    color:#7fa66f;
    font-size: 45px;
    padding-top: 15px;
}
#contacttext{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color:black;
    margin-left:13%;
}
/* Resume Section Style */
#Rtitle{
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 45px;
    margin-left:13%;
    margin-bottom: 20px;
    padding-top: 15px;
} 
#resume{
    padding-top: 10px;
    margin-top: 50px;
    margin-right:0px;
    margin-left:0px;
}
.jobsec{
    background-color: white;
    width:75%;
    margin:0 auto;
    padding:10px;
}
.jobtitle{
    color:#7fa66f;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
.jobdate{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
.jobdescript{
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
ul{
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
#respdf{
    background-color: white;
}
/* Clip Section Style */
.publication{
    font-family: 'EB Garamond', serif;
    color:#7fa66f;
    text-align:center;
}
.title{
    font-family: 'EB Garamond', serif;
    text-align: center;
}
.card-img-top{
    height: 200px;
}
.card-title{
    font-family: 'EB Garamond', serif;
}
.card{
    margin-right: 10px;
    margin-left: 10px;
}
.card{border:#7fa66f}

 /* Link Style */
 a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color:#7fa66f;
  }
  
  /* mouse over link */
  a:hover {
    color:black;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }
  .btn{
    font-family: 'EB Garamond', serif;
  }