/* styles for my resume*/ 
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size:1em;
    color: #444;
    font-weight:400;
}
/*name*/ 
#name{
    font-size:3.5em;
    text-transform:uppercase;
    color:#33485e;
    text-align:center;
    border-bottom: 2px solid #33485e;
    margin: 0 auto;
    width: 60%;
    min-width:300px;
}
strong{
    text-transform:uppercase;
    font-size:2em;
    color:#33485e;
}
.sectionheader{
    font-size:1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:white;
    font-weight:400;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width:70%;
    min-width: 300px;
}
.jobtitle{
    font-weight:600;
    font-size: 2em;
}
.organization{
    font-weight:400;
    font-size:1.5em;
}
ul{
    font-size: 1em;
}
.date{
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.description{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.menu{
    margin: 0px;
    padding:0px;
    text-align: center;
    display:inline;
    list-style-type: none;
}